<div class="sidebar">
  <a [routerLink]="[1]">
    <i class="fa fa-info-circle fa-fw"></i> Mission Details
  </a>
  <a [routerLink]="['../mission/1/assessment']" routerLinkActive="active" >
    <i class="fa fa-search fa-fw"></i> Assessment Insights
  </a>
  <a [routerLink]="['../mission/1/projectlifecycle']" routerLinkActive="active" >
    <i class="fa fa-refresh fa-fw"></i> Project Lifecycle
  </a>
  <a href="#migration"><i class="fa fa-suitcase fa-fw"></i> Migration Tracking</a>
  <a href="#collaborate"><i class="fa fa-comments fa-fw"></i> Collaborate</a>
  <a href="#governance"><i class="fa fa-bank fa-fw"></i> Governance</a>
  <a href="#sla"><i class="fa fa-handshake-o fa-fw"></i> SLA Management</a>
  <a href="#supportplatform"><i class="fa fa-server fa-fw"></i> Platform Details</a>
  <a href="#support"><i class="fa fa-support fa-fw"></i> Support</a>
</div>