<div class="sidebar">
  <a [routerLink]="['../' + missionId]" routerLinkActive="active" >
    <i class="fa fa-dashboard fa-fw"></i>&nbsp; Mission Dashboard
  </a>
  <a [routerLink]="['../' + missionId + '/onboarding']" routerLinkActive="active" >
    <i class="fa fa-info-circle fa-fw"></i>&nbsp; Onboarding Details
  </a>
  <a [routerLink]="['../' + missionId + '/assessment']" routerLinkActive="active" >
    <i class="fa fa-search fa-fw"></i>&nbsp; Assessment Insights
  </a>
  <!-- <a [routerLink]="['../' + missionId + '/missionlifecycle']" routerLinkActive="active" >
    <i class="fa fa-refresh fa-fw"></i>&nbsp; Mission Lifecycle
  </a> -->
  <a [routerLink]="['../' + missionId + '/team']" routerLinkActive="active">
    <i class="fa fa-group fa-fw"></i>&nbsp; Mission Team
  </a>
  <a href="#modelinsights"><i class="fa fa-eye fa-fw"></i>&nbsp; Model Insights</a>
  <a href="#accelerators"><i class="fa fa-line-chart fa-fw"></i>&nbsp; Accelerators</a>
  <a href="#ideas"><i class="fa fa-lightbulb-o fa-fw"></i>&nbsp; Ideation</a>
  <a href="#governance"><i class="fa fa-bank fa-fw"></i>&nbsp; Governance</a>
  <a href="#sla"><i class="fa fa-handshake-o fa-fw"></i>&nbsp; SLA Management</a>
  <a href="#supportplatform"><i class="fa fa-server fa-fw"></i>&nbsp; AI Platform Details</a>
  <a href="#support"><i class="fa fa-support fa-fw"></i>&nbsp; Support</a>
</div>