<div class="sidebar">
  <a [routerLink]="['../' + missionId]" routerLinkActive="active" >
    <i class="fa fa-info-circle fa-fw"></i> Mission Details
  </a>
  <a [routerLink]="['../' + missionId + '/assessment']" routerLinkActive="active" >
    <i class="fa fa-search fa-fw"></i> Assessment Insights
  </a>
  <a [routerLink]="['../' + missionId + '/projectlifecycle']" routerLinkActive="active" >
    <i class="fa fa-refresh fa-fw"></i> Project Lifecycle
  </a>
  <a [routerLink]="['../' + missionId + '/team']" routerLinkActive="active">
    <i class="fa fa-group fa-fw"></i> Mission Team
  </a>
  <a href="#modelinsights"><i class="fa fa-eye fa-fw"></i> Model Insights</a>
  <a href="#accelerators"><i class="fa fa-line-chart fa-fw"></i> Accelerators</a>
  <a href="#migration"><i class="fa fa-suitcase fa-fw"></i> Migration Tracking</a>
  <a href="#ideas"><i class="fa fa-lightbulb-o fa-fw"></i> Ideation</a>
  <a href="#governance"><i class="fa fa-bank fa-fw"></i> Governance</a>
  <a href="#sla"><i class="fa fa-handshake-o fa-fw"></i> SLA Management</a>
  <a href="#supportplatform"><i class="fa fa-server fa-fw"></i> Platform Details</a>
  <a href="#support"><i class="fa fa-support fa-fw"></i> Support</a>
</div>