<div class="jumbotron container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1 class="mb-5 pt-5">Make AI Accessible to the Business and Operations</h1>
    <h4>Start your AI mission... Sign up!</h4>
    <h5>This is where the primary for all users to learn about AI MissionControl</h5>
    <div class="text-center mt-4">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>