<div class="col-sm-12 mt-4">
  <div class="card">
    <div class="card-header">
      <div class="float-left text-capitalize" style="font-size:x-large;">
        <i class="fa fa-rocket" style="color: #083f86;"></i>
        {{ mission.missionName }}
      </div>
      <div class="float-right" style="padding-top: 5px;">
        <b>Created by:</b> {{ mission.knownAs }} -
        {{ mission.dateCreated | timeAgo }}
        <div>
          <b>Timeframe:</b> {{ mission.timeFrame }} - day(s)
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="tab-panel border-0">
        <tabset class="mission-management-tabset" #missionManagementTabs>
          <tab heading="Summary">
            <div class="mt-3">
              <span>
                Review the <b>{{mission.missionName}}</b> mission details and select the appropriate Mission Team.
                Once the Mission Team is selected be sure to complete the Mission Assessment. 
              </span>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <i class="fa fa-check fa-fw text-success"></i>Mission Details
            </ng-template>
            <div class="col-sm-12">
              <div class="row mt-2">
                <div class="col-sm-12">
                  <h4 class="card-title mb-0">Challenge</h4>
                  <p class="card-text alert alert-light mt-0" style="padding: 20px;">{{mission.challenge}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-12">
                  <h4 class="card-title mb-0">Desired Outcome</h4>
                  <p class="card-text alert alert-light mt-0" style="padding: 20px;">{{mission.desiredOutcome}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-12">
                  <h4 class="card-title mb-0">Business Impact</h4>
                  <p class="card-text alert alert-light mt-0" style="padding: 20px;">{{mission.businessImpact}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-6">
                  <h4 class="card-title mb-0">Estimated ROI</h4>
                  <p class="card-text alert alert-light mt-0">{{mission.estimatedRoi | currency}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-sm-6">
                  <h4 class="card-title mb-0">Business Function</h4>
                  <p class="card-text alert alert-light mt-0" style="padding: 15px;">{{mission.businessFunctionAlias}}
                  </p>
                </div>
                <div class="col-sm-6">
                  <h4 class="card-title mb-0">Industry</h4>
                  <p class="card-text alert alert-light mt-0" style="padding: 15px;">{{mission.industryAlias}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <h4 class="card-title">AI Use Cases</h4>
                  <span class="card-text alert alert-success mr-1" style="font-size: small; padding: 2px;"
                    *ngFor="let useCase of useCases" tooltip="{{useCase.description}}">
                    {{useCase.name}}
                  </span>
                  <h4 class="card-title mt-3">Your Current AI Platform(s)</h4>
                  <span class="card-text alert alert-info mr-1 mb-2" style="font-size: small; padding: 2px;"
                    *ngFor="let platform of mission.platforms" tooltip="{{platform.description}}">
                    {{platform.platformAlias}}
                  </span>
                </div>
              </div>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading>
              <div *ngIf="mission.missionTeam.length > 0">
                <i class="fa fa-check fa-fw text-success"></i>Mission Team
              </div>
              <div *ngIf="mission.missionTeam.length === 0">
                <i class="fa fa-check fa-fw text-muted"></i>Mission Team
              </div>
            </ng-template>
            <app-mission-team-management [mission]="mission"></app-mission-team-management>
          </tab>
          <tab>
            <ng-template tabHeading>
              <div *ngIf="mission.missionAssessment">
                <i class="fa fa-check fa-fw text-success"></i>Mission Assessment
              </div>
              <div *ngIf="!mission.missionAssessment">
                <i class="fa fa-check fa-fw text-muted"></i>Mission Assessment
              </div>
            </ng-template>
            <div *ngIf="!mission.missionAssessment">
              <app-mission-create-assessment [missionId]="mission.missionId"></app-mission-create-assessment>
            </div>
            <div *ngIf="mission.missionAssessment">
              <app-mission-assessment-edit [missionAssessment]="mission.missionAssessment"></app-mission-assessment-edit>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>