<div class="row">
  <div class="col-sm-12">
    <div class="card bg-light mt-2 mb-3" style="max-width: 100%;">
      <div class="card-header" style="clear: both; line-height: 0; padding-top: 15px; padding-bottom: 15px;">
        <div class="float-left text-capitalize" style="font-size:x-large;">
          <i class="fa fa-rocket" style="color: #083f86;"></i>
          {{mission.missionName}}
        </div>
        <div class="float-right" style="padding-top: 5px;">
          <b>Created by:</b> {{mission.knownAs}} - {{ mission.dateCreated | timeAgo }}
          <div class="mt-3">
            <b>Timeframe:</b> {{mission.timeFrame}} - day(s)
          </div>
        </div>
      </div>
      <div class="container mb-3">
        <div class="row">
          <div class="col-sm-8">
            <div class="row mt-2">
              <div class="col-sm-12">
                <h4 class="card-title mb-0">Challenge</h4>
                <p class="card-text alert alert-light mt-0" style="padding: 20px;">{{mission.challenge}}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-12">
                <h4 class="card-title mb-0">Desired Outcome</h4>
                <p class="card-text alert alert-light mt-0" style="padding: 20px;">{{mission.desiredOutcome}}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-12">
                <h4 class="card-title mb-0">Business Impact</h4>
                <p class="card-text alert alert-light mt-0" style="padding: 20px;">{{mission.businessImpact}}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">
                <h4 class="card-title mb-0">Business Function</h4>
                <p class="card-text alert alert-light mt-0" style="padding: 15px;">{{mission.businessFunctionAlias}}</p>
              </div>
              <div class="col-sm-6">
                <h4 class="card-title mb-0">Industry</h4>
                <p class="card-text alert alert-light mt-0" style="padding: 15px;">{{mission.industryAlias}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="card-title">Accelerators</h4>
                <span class="card-text alert alert-success mr-1" style="font-size: small; padding: 2px;"
                  *ngFor="let accelerator of mission.accelerators" tooltip="{{accelerator.description}}">
                  {{accelerator.acceleratorName}}
                </span>
                <h4 class="card-title mt-3">Your Current AI Platform(s)</h4>
                <span class="card-text alert alert-info mr-1 mb-2" style="font-size: small; padding: 2px;"
                  *ngFor="let platform of mission.platforms" tooltip="{{platform.description}}">
                  {{platform.platformAlias}}
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="row mt-2">
              <div class="col-sm-12">
                <h4 class="card-title mb-0">Mission Team</h4>
                <div class="card-text alert alert-light mt-0" 
                  style="padding: 15px; min-height: 200px;">
                  <div class="pb-3" style="text-align: center;">
                    <button class="btn btn-info"  
                      (click)="editMissionTeamModal(mission)">
                      Edit Team Members
                    </button>
                  </div>
                  <div class="form-check" *ngFor="let teamMember of mission.missionTeam">
                    <div class="row mb-4">
                      <div class="col-sm-4 pr-0">
                        <img class="team-img p-0"
                        src="{{ teamMember.photoUrl || '../../../assets/user.png' }}"
                        alt="{{ teamMember.knownAs }}"/>
                      </div>
                      <div class="col pl-0">
                        <ul class="fa-ul p-0 m-0">
                          <li>
                              <i class="fa fa-user fa-1x fa-fw" 
                                style="color: #083f86;"></i> 
                                {{ teamMember.knownAs }}
                          </li>
                          <li><i class="fa fa-flask fa-1x fa-fw" style="color: #083f86;"></i> {{ teamMember.jobTitle }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- <div class="col-sm-8">
          <div class="row mt-2">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">Challenge</h4>
              <p class="card-text alert alert-light mt-0" style="padding: 20px;">{{mission.challenge}}</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">Desired Outcome</h4>
              <p class="card-text alert alert-light mt-0" style="padding: 20px;">{{mission.desiredOutcome}}</p>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-6">
              <h4 class="card-title mb-0">Business Function</h4>
              <p class="card-text alert alert-light mt-0" style="padding: 15px;">{{mission.businessFunctionAlias}}</p>
            </div>
            <div class="col-sm-6">
              <h4 class="card-title mb-0">Industry</h4>
              <p class="card-text alert alert-light mt-0" style="padding: 15px;">{{mission.industryAlias}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title">Accelerators</h4>
              <span class="card-text alert alert-success mr-1" style="font-size: small; padding: 2px;"
                *ngFor="let accelerator of mission.accelerators" tooltip="{{accelerator.description}}">
                {{accelerator.acceleratorName}}
              </span>
              <h4 class="card-title mt-3">Your Current AI Platform(s)</h4>
              <span class="card-text alert alert-info mr-1 mb-2" style="font-size: small; padding: 2px;"
                *ngFor="let platform of mission.platforms" tooltip="{{platform.description}}">
                {{platform.platformAlias}}
              </span>
            </div>
          </div> 
        </div>-->
        </div>
      </div>
    </div>
  </div>