<div class="container mt-4">
  <div class="row pb-0">
    <div class="col-sm-3 pr-0">
      <div class="jumbotron p-3" style="min-height: 300px;">
        <h4>Welcome</h4>
        Get started using Mission Control the platfirm created to make AI
        accessible.
        <ul class="fa-ul mt-3 p-0 m-0">
          <li class="mb-2">
            <a [routerLink]="['/missions/create']">
              <i class="fa fa-plus-circle fa-2x fa-fw" style="color: #083f86;"></i>
              <span style="font-size: 1.3em; position: absolute;">
                Create A Mission</span>
            </a>
          </li>
          <li>
            <i class="fa fa-lightbulb-o fa-2x fa-fw" style="color: #083f86;"></i>
            <a [routerLink]="['/missions/create']">
              <span style="font-size: 1.3em; position: absolute;">
                Submit Ideas</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 pr-0">
      <div class="jumbotron p-3" style="min-height: 300px;">
        <h4>Activity</h4>
        <div class="row">
          <div class="col alert alert-info pr-1 m-1" style="min-height: 100px;">
            <h5>Missions</h5>
          </div>
          <div class="col alert alert-info pr-1 m-1">
            <h5>Ideas</h5>
          </div>
        </div>
        <div class="row">
          <div class="col alert alert-info pr-1 m-1" style="min-height: 110px;">
            <h5>Total Experiments</h5>
          </div>
          <div class="col alert alert-info pr-1 m-1">
            <h5>Deployed Models</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="jumbotron p-3 mb-3" style="min-height: 300px;">
        <h4>Your Mission Team</h4>

        <div class="row mb-4">
          <div class="col-sm-4 pr-0">
            <img class="team-img p-0" src="https://randomuser.me/api/portraits/women/39.jpg" alt="Jane" />
          </div>
          <div class="col pl-0">
            <ul class="fa-ul p-0 m-0">
              <li>
                <i class="fa fa-user fa-1x fa-fw" style="color: #083f86;"></i>
                Jane Johnson
              </li>
              <li>
                <i class="fa fa-flask fa-1x fa-fw" style="color: #083f86;"></i>
                Data Scientist
              </li>
            </ul>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-sm-4 pr-0">
            <img class="team-img p-0" src="https://randomuser.me/api/portraits/men/90.jpg" alt="Rick" />
          </div>
          <div class="col pl-0">
            <ul class="fa-ul p-0 m-0">
              <li>
                <i class="fa fa-user fa-1x fa-fw" style="color: #083f86;"></i>
                Rick Leewood
              </li>
              <li>
                <i class="fa fa-flask fa-1x fa-fw" style="color: #083f86;"></i>
                Data Scientist
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: -20px;">
    <div class="col-sm-3 pr-0">
      <div class="jumbotron p-3" style="min-height: 200px;">
        <h4>Migration Insights</h4>
      </div>
    </div>
    <div class="col-sm-4 pr-0">
      <div class="jumbotron p-3" style="min-height: 200px;">
        <h4>SLA Insights</h4>
      </div>
    </div>
    <div class="col-sm-2 pr-0">
      <div class="jumbotron p-3" style="min-height: 200px;">
        <h4>Governance Score</h4>
      </div>
    </div>
    <div class="col">
      <div class="jumbotron p-3 mb-3" style="min-height: 200px;">
        <h4>Whats New</h4>
      </div>
    </div>
  </div>
</div>