.team-img {
    height: 60px;
    width: 60px;
}

.jumbotron {
    background-color: #EEEEEE;
}

.lh-1 {
    line-height: .5em;
}

.lh-2 {
    line-height: .6em;
}

.f1-0 {
    font-size: 1em;
}

.f1-1 {
    font-size: 1.1em;
}
