<!-- <div class="card mb-4">
  <div class="card-img-wrapper">
      <i class="fa fa-space-shuttle fa-lg"></i>
    </div>
    <div class="card-body p-1">
      <h6 class="card-title text-center mb-1">
        {{mission.missionName | titlecase}}, {{mission.timeFrame}}
      </h6>
      <p class="card-text text-muted text-center">{{mission.businessFunctionAlias}}</p>
    </div>
</div> -->

<div class="mb-4 alert alert-secondary">
  <div class="card-body" style="padding: 1px;">
    <h5 class="card-title">
      <i class="fa fa-rocket" style="color: #083f86;"></i>
      <a [routerLink]="['../mission/', mission.missionId]">
        {{mission.missionName | titlecase}}
      </a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">created: {{mission.dateCreated | timeAgo}} | timeframe: {{mission.timeFrame}}</h6>
    <p class="card-text">{{mission.challenge}}</p>
    <ul class="fa-ul ml-0 mb-0">
      <li class="mr-2">
        <i class="fa fa-check-circle-o" style="color: #083f86;"></i> Experiments: <b>30</b>
      </li>
      <li>
        <i class="fa fa-check-circle-o" style="color: #083f86;"></i> Models Deployed: <b>20</b>
      </li>
      <li>
        <i class="fa fa-check-circle-o" style="color: #083f86;"></i> Bots Deployed: <b>20</b>
      </li>
      <li>
        <i class="fa fa-check-circle-o" style="color: #083f86;"></i> Active API's: <b>2</b>
      </li>
    </ul>
  </div>
</div>
