<div class="container col-sm-6">
  <div class="card bg-light mt-2 mb-3">
    <div class="card-header" style="clear: both; line-height: 0; padding-top: 20px; padding-bottom: 0px;">
      <p class="float-left text-capitalize" style="font-size:x-large;">
        <i class="fa fa-plus" style="color: #083f86;"></i>
          Create Mission
      </p>
    </div>
    <div class="card-body">
      <form [formGroup]="missionForm" (ngSubmit)="createMission()">
        <div class="jumbotron bg-secondary p-3">
          <div class="row">
            <div class="col-sm-12">
              <span class="fa-stack fa-2x fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse">
                  <span 
                    style="font-size: .5em; 
                    text-align: center;
                    font-weight: bold;
                    font-family:Arial, Helvetica, sans-serif;  
                    display: block;">Step 1
                  </span>
                </i>
              </span>
              <span style="font-size: 1.2em; font-weight: bold;" class="d-inline-block p-0">
                Select your Industry and/or Business function
                <i class="fa fa-info-circle fa-1x fa-border"
                tooltip="Please select an industry and/or business function to see what AI uses cases are available. Once you select a use case Mission Control will help you learn just what AI can do for you!"
                style="color: #083f86;"></i> 
              </span>              
              <hr class="mt-0">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <select formControlName="industryid" id="industryid" #industry
                  (change)="onOptionIndustrySelected(industry.value)" class="form-control">
                  <option value="1000">
                    Select Industry
                  </option>
                  <option *ngFor="let industry of industries; let i = index" [value]="industries[i].id">
                    {{industries[i].industryName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <select formControlName="businessfunctionid" id="businessfunctionid" #businessfunction
                  (change)="onOptionBusinessFunctionSelected(businessfunction.value)" class="form-control">
                  <option value="1000">
                    Select Business Function
                  </option>
                  <option *ngFor="let businessFunction of businessFunctions; let i = index"
                    [value]="businessFunctions[i].id">
                    {{businessFunctions[i].businessFunctionName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group p-2" style="border: 2px solid #e2e2e2dc; border-radius: 5px;"
                *ngIf="showAccelerators">
                <h5 class="control-label font-weight-bold" style="margin-right:10px">AI Use Cases</h5>
                <h6>To learn more about how AI can help click on any of the Use Cases below. 
                  You can also check the Use Cases of interest now and review later.</h6>
                <label 
                  formArrayName="missionaccelerators" 
                  class="checkbox-inline mr-3 mt-3"
                  *ngFor="let accelerator of missionForm.controls['missionaccelerators'].controls; let i = index">
                  <input 
                    type="checkbox"
                    value="{{accelerators[i].id}}" 
                    [formControlName]="i">
                  <button (click)="showAcceleratorUseCase(accelerators[i])" 
                    class="btn btn-info ml-2 line">
                    {{accelerators[i].acceleratorName}}
                  </button>    
                </label>
                
              </div>
            </div>
          </div>

          <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
              role="dialog" aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
                  <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                </div>
              </div>
            </div>
          </div>
          

        </div>
        <div class="jumbotron bg-secondary p-3">
          <div class="row">
            <div class="col-sm-12">
              <span class="fa-stack fa-2x fa-lg mb-1">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse">
                  <span style="font-size: .5em; 
                        text-align: center;
                        font-weight: bold;
                        font-family:Arial, Helvetica, sans-serif;  
                        display: block;">Step 2
                  </span>
                </i>
              </span>
              <span style="font-size: 1.2em; font-weight: bold;" class="d-inline-block p-0">
                Mission On-Boarding 
                <i class="fa fa-info-circle fa-1x fa-border"
                tooltip="The following information will be used to help assess what the Mission Control team should do to satisfy your request."
                style="color: #083f86;"></i>
              </span>&nbsp;
              
              <hr class="mt-0">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <input type="text" [ngClass]="{'is-invalid': missionForm.get('missionname').errors 
                  && missionForm.get('missionname').touched}" class="form-control" formControlName="missionname"
                  placeholder="Mission Name"
                  tooltip="The following information will be used to help assess what the Mission Control team should do to satisfy your request."
                  placement="left">
                <div class="invalid-feedback">Please provide a Mission Title</div>
              </div>
              <div class="form-group">
                <textarea class="form-control" formControlName="challenge" rows="2" placeholder="Challenge"
                  tooltip="The following information will be used to help assess what the Mission Control team should do to satisfy your request."
                  placement="left">
              </textarea>
              </div>
              <div class="form-group">
                <textarea class="form-control" formControlName="desiredoutcome" rows="2" placeholder="Desired Outcome"
                  tooltip="The following information will be used to help assess what the Mission Control team should do to satisfy your request."
                  placement="left">
              </textarea>
              </div>
              <div class="form-group">
                <textarea class="form-control" formControlName="businessimpact" rows="2" placeholder="Business Impact"
                  tooltip="The following information will be used to help assess what the Mission Control team should do to satisfy your request."
                  placement="left">
              </textarea>
              </div>
              <div class="form-group">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      tooltip="The following information will be used to help assess what the Mission Control team should do to satisfy your request."
                      placement="left">$</span>
                  </div>
                  <input type="text" class="form-control col-4" formControlName="estimatedroi"
                    placeholder="Estimated ROI" [ngClass]="{'is-invalid': missionForm.get('estimatedroi').errors 
                  && missionForm.get('estimatedroi').touched}">
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                  <div class="invalid-feedback">Please provide a dollar amount</div>
                </div>
              </div>
              <div class="form-group">
                <h4 class="control-label" style="margin-right:10px">Your Timeframe</h4>
                <div class="custom-control custom-radio d-inline-block">
                  <input class="custom-control-input" type="radio" value="1" id="timeframe1"
                    formControlName="timeframe">
                  <label class="mr-2 custom-control-label" for="timeframe1">Now</label>
                </div>
                <div class="custom-control custom-radio d-inline-block">
                  <input class="custom-control-input" type="radio" value="30" id="timeframe2"
                    formControlName="timeframe">
                  <label class="mr-2 custom-control-label" for="timeframe2">30 days</label>
                </div>
                <div class="custom-control custom-radio d-inline-block">
                  <input class="custom-control-input" type="radio" value="60" id="timeframe3"
                    formControlName="timeframe">
                  <label class="mr-2 custom-control-label" for="timeframe3">60 days</label>
                </div>
                <div class="custom-control custom-radio d-inline-block">
                  <input class="custom-control-input" type="radio" value="90" id="timeframe4"
                    formControlName="timeframe">
                  <label class="mr-2 custom-control-label" for="timeframe4">90 days</label>
                </div>
                <div class="custom-control custom-radio d-inline-block">
                  <input class="custom-control-input" type="radio" value="1000" id="timeframe5"
                    formControlName="timeframe">
                  <label class="mr-2 custom-control-label" for="timeframe5"> > 90 days</label>
                </div>
                <!-- <label class="radio-inline ml-3">
                  <input class="mr-2" type="radio" value="30" formControlName="timeframe">30 days
                </label>
                <label class="radio-inline ml-3">
                    <input class="mr-2" type="radio" value="60" formControlName="timeframe">60 days
                </label>                
                <label class="radio-inline ml-3">
                    <input class="mr-2" type="radio" value="90" formControlName="timeframe">90 days
                </label>
                <label class="radio-inline ml-3">
                    <input class="mr-2" type="radio" value="1000" formControlName="timeframe">> 90 days
                </label>      -->
              </div>
              <div class="form-group">
                <h4 class="control-label" style="margin-right:10px">Your Current Data/AI Platform</h4>
                <!--                 <label formArrayName="missionplatforms" 
                  class="checkbox-inline mr-3" 
                  *ngFor="let platform of missionForm.controls['missionplatforms'].controls; let i = index">
                  <input type="checkbox" 
                    value="{{platforms[i].id}}" 
                    [formControlName]="i"> 
                    {{platforms[i].platformAlias}} 
                </label> -->
                <div formArrayName="missionplatforms" class="custom-control custom-checkbox d-inline-block"
                  *ngFor="let platform of missionForm.controls['missionplatforms'].controls; let i = index">
                  <input class="custom-control-input" type="checkbox" value="{{platforms[i].id}}" id="platforms{{i}}"
                    [formControlName]="i">
                  <label class="mr-2 custom-control-label" for="platforms{{i}}">
                    {{platforms[i].platformAlias}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <h4 class="control-label" style="margin-right:10px">Mission Public or Private?</h4>
                <div class="custom-control custom-radio d-inline-block">
                  <input class="custom-control-input" type="radio" value="true" id="public1" formControlName="public">
                  <label class="mr-2 custom-control-label" for="public1">Public</label>
                </div>
                <div class="custom-control custom-radio d-inline-block">
                  <input class="custom-control-input" type="radio" value="false" id="public2" formControlName="public">
                  <label class="mr-2 custom-control-label" for="public2">Private</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group text-center">
                <button class="btn btn-primary" [disabled]="!missionForm.valid" type="submit">Create</button>
                <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <p>Form Value: {{missionForm.value | json}}</p>
<p>Form Status: {{missionForm.status | json}}</p> -->